.dark {
	background-color: $dark-body-bg;
	color: $dark-body-color;

	.border,
	.border-bottom,
	.border-top {
		border-color: $dark-border-color !important;
	}

	.card {
		background-color: $dark-card-bg;
	}
}
