.dark {
	background-color: $dark-body-bg;
	color: $dark-body-color;

	.list-group-item a,
	p a {
		color: white;
	}

	.btn-link {
		color: $dark-link-color;
	}

	.btn-outline-primary {
		border-color: $dark-link-color;
		color: $dark-link-color;
	}

	.btn-primary,
	.btn-outline-primary:hover {
		background-color: $dark-link-color;
		border-color: $dark-link-color;
		color: white;
	}

	.border,
	.border-bottom,
	.border-top {
		border-color: $dark-border-color !important;
	}

	.card,
	.list-group-item {
		background-color: $dark-card-bg;
	}

	.dropdown-menu {
		background-color: $dark-dropdown-bg;

		button {
			color: $light;
		}

		button:hover,
		button:focus,
		.dropdown-item:hover,
		.dropdown-item:focus {
			background-color: $dark-dropdown-link-hover-bg;
			color: white;
		}
	}

	input.form-control {
		background-color: $dark-input-bg;
		border-color: $dark-input-border-color;
		color: $dark-input-color;
	}

	.text-muted {
		color: $dark-text-muted !important;
	}
}
