.dark {
	background-color: $dark-body-bg;
	color: $dark-body-color;

	p > a,
	.btn-link {
		color: $dark-link-color;
	}

	.border,
	.border-bottom,
	.border-top {
		border-color: $dark-border-color !important;
	}

	.card,
	.list-group-item {
		background-color: $dark-card-bg;
	}

	input.form-control {
		background-color: $dark-input-bg;
		border-color: $dark-input-border-color;
		color: $dark-input-color;
	}
}
