:root,
html,
body {
	font-size: 18px;
}

div#__nuxt,
#__layout,
#__layout > div,
#app,
.h-full {
	min-height: 100vh;
}

.gap {
	gap: 1rem;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 150ms;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}

.transitions {
	transition: all 150ms;
}
