#log-controls,
.log-controls-mockup {
	grid-gap: 2px;
	gap: 2px;

	@include media-breakpoint-down(xs) {
		.btn {
			font-size: 1rem;
		}
	}

	@include media-breakpoint-down(sm) {
		border-radius: $btn-border-radius;

		.btn {
			border: none;
			border-radius: 0;
			padding: 0.5rem;
		}
	}

	@include media-breakpoint-up(md) {
		grid-gap: 1rem;
		gap: 1rem;
	}
}
